env:
  - DOCKER_USERNAME=dedayodeveloper
  - DOCKER_PASSWORD=diweoreoluwa


before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker pull suranagivinod/openjdk8

  script:
    - ./mvnw clean install
    - ./mvnw deploy jib:build -P deploy-docker






language: java
  jdk:
    - openjdk8
  script:
    - ./mvnw clean install
