<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Coding Test</title>
    <!-- Template CSS -->
    <link  th:href="@{~/assets/css/style-starter.css}" rel="stylesheet">

<!--    <style>-->
<!--        body {-->
<!--            background-image: url("./assets/images/atmcard.jpg");-->
<!--            background-size: cover;-->
<!--        }-->
<!--    </style>-->
<!--    &lt;!&ndash; google fonts &ndash;&gt;-->
<!--    <link th:href="@{//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap}" rel="stylesheet">-->
</head>
<body>
<div>
<br>
<br>
<div class="container">

        <section class="col-md-6 m-auto text-center">
<!--            <div class="form-group">-->
<!--                <form method="post" th:action="@{/details}" th:object="${carddetails}">-->
<!--                <input type="text" class="form-control" placeholder="Enter first 6 digits of bank card" th:field="*{value}">-->
<!--                <br>-->
<!--                <button class="btn-primary" type="submit">Submit</button>-->
<!--                </form>-->
<!--            </div>-->
            <form class="form-inline" method="post" th:action="@{/details}" th:object="${carddetails}">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" th:field="*{value}">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Confirm details</button>
                <small id="emailHelp" class="form-text text-muted ml-3">*Enter first 6 digits of bank card.</small>
            </form>
            <br>
            <br>
            <div>

        <div class="form-group">
            <label>Scheme</label>
        <input type="text" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>Bank</label>
            <input type="text" class="form-control" readonly>
        </div>

            </div>
        </section>

</div>
</div>
</body>
</html>